<div class="row">
  <div class="col-md-5">
    <app-recipes-list
      (recipeWasSelected)="selectedRecipe = $event"></app-recipes-list>
  </div>


  <div class="col-md-7">
    <app-recipes-detail
      *ngIf="selectedRecipe; else infoText">
    </app-recipes-detail>

    <ng-template #infoText><p>Please select a Recipe!</p></ng-template>
  </div>
</div>
